@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-background: white;
  --color-foreground: black;

  --color-card: white;
  --color-card-foreground: black;

  --color-popover: white;
  --color-popover-foreground: black;

  --color-primary: #18181b;
  --color-primary-foreground: #fafafa;

  --color-secondary: #f4f4f5;
  --color-secondary-foreground: #18181b;

  --color-muted: #f4f4f5;
  --color-muted-foreground: #71717a;

  --color-accent: #f4f4f5;
  --color-accent-foreground: #18181b;

  --color-destructive: #ef4444;
  --color-destructive-foreground: #fafafa;

  --color-border: #e4e4e7;
  --color-input: #e4e4e7;
  --color-ring: #18181b;

  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }
}

@custom-variant dark (&:is(.dark *));

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}